/***********
 * GLOBALS *
 ***********/
:root {
  --canvasSize:  675px;
  /* Colors */
  --tnOrange:    #FF8200;
  --lightOrange: #F2A44F;
  --darkOrange:  #C36300;
  --smokeyGray:  #58595B;
  --lightGray:   #797A7D;
  --lighterGray: #929396;
  --darkGray:    #424343;
  --limestone:   #F0EDE3;
  --rock:        #A7A9AC;
  --green:       #32CD32;
  --red:         #FF3232;
  /* Font */
  --gothic:      'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* Global Values */
  --navHeight:   65px;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--smokeyGray);
}

/* Navigation Bar */
nav.navbar {
  height: var(--navHeight);
  padding: 0 15px 0 25px;
  background-color: #333333;
  border-bottom: 3px solid #FFFFFF;
  display: flex;
  align-items: center;
}
/* Navigation Bar, Left/Right Groups of Links */
nav.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.navbar ul:nth-of-type(2) {
  margin-left: auto;
}
/* Navigation Bar, Links */
nav.navbar ul:nth-of-type(1) li {
  display: inline-block;
  margin: 0 25px 0 0;
}
nav.navbar ul li a {
  font-size: 2em;
  padding: 10px 5px;
  font-family: var(--gothic);
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.5s;
}
nav.navbar ul li a.active,
nav.navbar ul li a:hover {
  color: var(--tnOrange);
}
/* Navigation Bar, Dropdowns */
nav.navbar ul div.dropdown {
  width: auto;
  display: inline-block;
}
nav.navbar ul div.dropdown:hover li a {
  color: var(--tnOrange);
  cursor: context-menu;
}
/* Navigation Bar, Content of Dropdowns */
nav.navbar ul div.dropdown div.dropdownContent {
  min-width: 175px;
  margin: 10px 0 0 5px;
  position: absolute;
  background-color: var(--lightGray);
  display: none;
  z-index: 995;
}
nav.navbar ul div.dropdown:hover div.dropdownContent {
  display: block;
}
nav.navbar ul div.dropdown div.dropdownContent a {
  font-size: 1.75em;
  padding: 10px;
  font-family: var(--gothic);
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  transition: background-color 0.5s;
}
nav.navbar ul div.dropdown div.dropdownContent a:not(:last-of-type) {
  border-bottom: 1px solid var(--lighterGray);
}
nav.navbar ul div.dropdown div.dropdownContent a:hover {
  background-color: var(--lighterGray);
  cursor: pointer;
}

/* Page Banner Headers */
header.banner {
  margin: 20px 0;
  padding: 15px 0 20px 0;
  text-align: center;
  background-color: var(--tnOrange);
}
header.banner h1,
header.banner h2 {
  margin: 0;
  padding: 0;
}
header.banner h1 {
  font-size: 3em;
}
header.banner h2 {
  font-size: 2.25em;
}

/* Orange Button */
/* Font-Size, Margin, Padding Specific to Scenario */
.orangeBtn {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: var(--tnOrange);
  transition: background-color 0.5s;
}
.orangeBtn:hover {
  cursor: pointer;
  background-color: var(--lightOrange);
}
.orangeBtn:focus {
  outline: none;
}
.orangeBtn:disabled {
  cursor: not-allowed;
  background-color: var(--darkOrange);
}

/* Tint for Images */
.tint {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.4;
}

/* Success/Fail Text */
p.success {
  color: var(--green) !important;
}
p.fail {
  color: var(--red) !important;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltipText {
  width: 140px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -75px;
  padding: 5px;
  background-color: var(--darkGray);
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  opacity: 0.0;
  transition: opacity 0.3s;
  visibility: hidden;
  z-index: 1;
}
.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--darkGray) transparent transparent transparent;
}
.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

/* Notification */
/* Either "success", "fail", or default neutral */
.notification {
  min-width: 350px;
  height: 75px;
  line-height: 75px;
  padding: 0 25px;
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 5px;
  background-color: var(--rock); /* default */
  pointer-events: none;
  opacity: 0.0;
  transition: opacity 0.75s;
  z-index: 997;
}
.notification:hover {
  cursor: pointer;
}
.notification.success {
  background-color: #d4edda;
}
.notification.fail {
  background-color: #f8d7da;
}
/* Icons and Message */
.notification p {
  display: inline-block;
}
.notification.success p {
  color: #188732;
}
.notification.fail p {
  color: #721c24;
}
/* Notification Icons: Check (Success) & Caution (Fail) */
.notification span.success,
.notification span.fail {
  font-size: 2em;
  display: none;
}
.notification.success span.success,
.notification.fail span.fail {
  display: inline;
}
/* Notification Message */
.notification span.msg {
  font-size: 1.15em;
  margin: 0 10px;
  vertical-align: top;
}
/* Close Notification Icon: X */
.notification span:last-of-type {
  font-size: 1.75em;
  padding-left: 20px;
}

/* Modal */
.modal {
  width: 800px; /* default */
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--smokeyGray);
  border: 2px solid var(--lighterGray);
  border-radius: 5px;
  opacity: 0.0;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  z-index: 999;
}
.modal.show {
  opacity: 1.0;
  transform: translateY(0);
  pointer-events: all;
}
/* Modal Header */
.modal header {
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  background-color: var(--darkGray);
}
.modal header h1 {
  width: 90%; /* if text long, this ensures line break */
  font-size: 2.25em;
  margin: 0;
  padding: 5px 0 10px 10px;
  color: #FFFFFF;
  font-family: var(--gothic);
  display: inline-block;
}
.modal header button {
  font-size: 2.25em;
  margin: 0 5px 0 0;
  color: #FFFFFF;
  transition: color 0.25s;
  background-color: transparent;
  border: none;
  float: right;
}
.modal header button:hover {
  color: var(--rock);
  cursor: pointer;
}
/* Modal Body */
.modal div.body {
  max-height: calc(100vh - 260px); /* top/bottom margin, header/footer heights  */
  overflow-y: auto;
}
.modal div.body h1,
.modal div.body h2,
.modal div.body p {
  color: #FFFFFF;
  font-family: var(--gothic);
  margin: 0;
  padding: 0;
}
/* Modal Footer */
.modal footer {
  width: 100%;
  max-height: 100px;
  position: relative;
  overflow-y: auto;
  background-color: var(--darkGray);
}
.modal footer button,
.modal footer input[type="button"],
.modal footer input[type="submit"] {
  font-size: 1.5em;
  margin: 10px;
  padding: 5px 7.5px;
}
.modal footer button.left,
.modal footer input[type="button"].left,
.modal footer input[type="submit"].left {
  float: left;
}
.modal footer button.right,
.modal footer input[type="button"].right,
.modal footer input[type="submit"].right {
  float: right;
}
.modal footer p {
  font-size: 1.75em;
  position: absolute;
  top: 12.5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  pointer-events: none; /* unblocks nav buttons */
  color: #FFFFFF;
  font-family: var(--gothic);
}
/* Modal Tint Background */
.modalBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.0;
  transition: opacity 0.5s;
  pointer-events: none;
  z-index: 998;
}
.modalBackground.show {
  opacity: 0.75;
  pointer-events: all;
}

/* Form Modal */
div.formModal {
  width: 450px;
}
/* Form Header */
div.formModal header {
  padding: 7.5px 0;
}
div.formModal header h1 {
  margin: 0 10px !important;
  display: inline;
}
div.formModal header button {
  margin-top: -5px;
}
/* Form Labels/Fields */
div.formModal div.body div {
  margin: 15px auto 25px auto;
  display: table;
}
div.formModal form p {
  width: 75%;
  font-size: 1.5em;
  margin: 15px auto 0 auto !important;
  text-align: center;
}
div.formModal form label {
  font-size: 1.75em;
  margin: 5px 0 0 0;
  color: #FFFFFF;
  font-family: var(--gothic);
}
div.formModal form input:not([type="submit"]) {
  font-size: 2em;
  margin: 5px 0;
  padding: 10px 15px;
  font-family: var(--gothic);
  border: none;
  border-radius: 5px;
}

/* Level Indicator */
div.levelIndicator {
  width: 55px;
  height: 55px;
  margin: 5px 5px 7.5px 0;
  text-align: center;
  font-size: 2em;
  line-height: 55px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--red);
  transition: background-color 1s;
}
div.levelIndicator.complete {
  background-color: var(--green);
}

/*******************
 * PAGE: login.php *
 *******************/

body#login {
  background-color: var(--smokeyGray);
}
/* Centers Content */
body#login div.wrapper {
  width: 500px;
  margin: 20vh auto;
  text-align: center;
}
/* Text */
body#login div.wrapper h1,
body#login div.wrapper h2,
body#login div.forms form p,
body#login div.forms form label,
body#login div.forms form legend {
  color: #FFFFFF;
  font-family: var(--gothic);
}
/* "Code a Story" Header */
body#login div.wrapper h1 {
  font-size: 4.5em;
  margin: 0;
  padding: 0;
}
/* Button "Label" and Button Outside of <form> */
body#login div.wrapper h2 {
  font-size: 2.5em;
  margin: 15px 0 0 0;
  padding: 0;
}
body#login div.wrapper button {
  font-size: 2.5em;
  width: 70%;
  margin: 12.5px auto;
  padding: 10px 7.5px;
  display: block;
}
/* Positions forms below "Code a Story" header */
body#login div.forms {
  position: relative;
}
/* Login Forms: Method Selection, Student Login, Teacher Login */
body#login div.forms div#loginSelector,
body#login div.forms form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: opacity 0.5s, transform 0.5s; /* for slide animation */
}
/* Initially Hidden Forms */
body#login div.forms form {
  opacity: 0.0;
  transform: translateX(-100%);
  pointer-events: none;
}
/* Form Labels/Fields/Buttons */
body#login div.forms form p {
  font-size: 1.5em;
  margin: 15px 0;
  padding: 0;
  text-align: center;
}
body#login div.forms form fieldset {
  border: none;
}
body#login div.forms form label,
body#login div.forms form legend {
  font-size: 1.75em;
  display: block;
  text-align: left;
}
body#login div.forms form label {
  margin: 5px 0 0 82.5px;
}
body#login div.forms form legend {
  margin: 5px 0 0 60px;
}
body#login div.forms form input:not([type=submit]):not([type=button]) {
  font-size: 2em;
  margin: 5px 0;
  padding: 10px 15px;
  font-family: var(--gothic);
  border: none;
  border-radius: 5px;
}
body#login div.forms form input[type=button],
body#login div.forms form input[type=submit] {
  font-size: 1.75em;
  margin: 15px 0 0 0;
  padding: 10px 20px;
}
body#login div.forms form#pwdForm input[type=button] {
  margin-right: 92.5px; /* abort and save buttons on opposite sides */
}

/***********************
 * PAGE: dashboard.php *
 ***********************/

body#dashboard {
  color: #FFFFFF;
  font-family: var(--gothic);
  overflow: auto;
}
body#dashboard div.wrapper {
  width: 825px;
  margin: 0 auto;
}
body#dashboard div.wrapper h1 {
  font-size: 3.25em;
  margin: 20px 0;
  text-align: center;
}
/* Teacher View */
body#dashboard div.wrapper h2 {
  font-size: 2em;
}
body#dashboard div.wrapper p {
  font-size: 1.75em;
  margin: 0;
  padding: 0;
}
body#dashboard div.wrapper p a {
  color: var(--tnOrange);
  transition: color 0.5s;
}
body#dashboard div.wrapper p a:hover {
  color: var(--lightOrange);
}
/* Student View */
body#dashboard div.wrapper h3 {
  font-size: 2.5em;
  margin: 0 0 7.5px 0;
  padding: 0;
}
body#dashboard div.wrapper h4 {
  font-size: 1.75em;
  margin: 20px 0 0 0;
  padding: 0;
}
/* Assignment Card */
body#dashboard div.wrapper div.assignment {
  width: 100%;
  height: 100px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  background-color: var(--lightGray);
  display: flex;
  align-items: center;
}
/* "Go" Button */
body#dashboard div.wrapper div.assignment button {
  font-size: 2em;
  margin: 0 15px;
  padding: 5px 10px;
}
/* Title/Author Text */
body#dashboard div.wrapper div.assignment h2 {
  width: 400px;
  max-height: 85px;
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  overflow-y: auto;
}
/* Level Indicators Container */
body#dashboard div.wrapper div.levels {
  width: 300px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  overflow-x: auto;
}

/***********************
 * PAGE: generator.php *
 ***********************/

/* "Choose a story" or "Make your own story" Mode Selection Buttons */
body#generator button.modeBtn {
  width: 50%;
  height: calc(100% - var(--navHeight));
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: width 0.75s ease;
}
body#generator button.modeBtn:hover {
  cursor: pointer;
}
body#generator button.modeBtn:nth-of-type(1) {
  left: 0;
  border-right: 1.5px solid #FFFFFF;
}
body#generator button.modeBtn:nth-of-type(2) {
  right: 0;
  border-left: 1.5px solid #FFFFFF;
}
body#generator button.modeBtn img {
  min-width: 100vw;
  min-height: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.5s;
}
body#generator button.modeBtn:hover img {
  transform: scale(1.1,1.1);
}
body#generator button.modeBtn:nth-of-type(1) img { left: 0; }
body#generator button.modeBtn:nth-of-type(2) img { right: 0; }
body#generator button.modeBtn h1 {
  width: 40vw;
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  font-family: var(--gothic);
  color: #FFFFFF;
}

/* Maze Generation Preview/Edit Story Modals */
body#generator .storyModal {
  width: 800px;
}
body#generator .storyModal div.body {
  padding: 10px;
}
body#generator .storyModal div.body section {
  padding: 0 0 10px 0;
  border-bottom: 2px solid #FFFFFF;
}
body#generator .storyModal div.body section:last-of-type {
  border-bottom: none;
}
body#generator .storyModal div.body section h1 {
  padding: 10px 0;
  font-size: 2.5em;
  text-align: center;
}
body#generator .storyModal div.body section div.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
body#generator .storyModal div.body section div.wrapper div {
  text-align: center;
}
body#generator .storyModal div.body section div.wrapper div img {
  width: 80%;
  margin: 10px 0 0 0;
}
body#generator .storyModal div.body section div.wrapper div h2 {
  padding: 0 0 5px 0;
  border-bottom: 2px solid #FFFFFF;
}
body#generator .storyModal div.body section div.wrapper div p {
  font-size: 1.25em;
  padding: 5px 0 0 0;
}

/* Maze Generation Edit Story Modal */
body#generator #editModal div.body form {
  font-size: 1.25em;
  font-family: var(--gothic);
  color: #FFFFFF;
}
/* Delete Button for Cutscene Images */
body#generator #editModal div.body form section div.wrapper div h2 input[type="button"] {
  margin: 0 0 0 7.5px;
  padding: 0;
}
body#generator #editModal div.body form section div.wrapper div input[type="url"] {
  width: 65%;
  font-size: 0.85em;
  margin: 0 auto;
  display: inline-block;
}
body#generator #editModal div.body form section div.wrapper div input[type="button"] {
  width: 13%;
  font-size: 1em;
  margin: 12.5px 0 0 0;
  padding: 3.5px 0;
  border: none;
  display: inline-block;
}
body#generator #editModal div.body form section div.wrapper div input[type="button"].pencil {
  padding: 0 0 3.5px 0;
}
body#generator #editModal div.body form section div.wrapper div input[type="button"].arrow {
  padding: 3.5px 0;
}
body#generator #editModal div.body form section div.wrapper div label {
  font-size: 1em;
}
body#generator #editModal div.body form section div.wrapper div input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin: 5px 0 0 0;
  vertical-align: bottom;
}
body#generator #editModal div.body form section div.wrapper div img.goal {
  margin: 35px 0 0 0; /* aligning to images with "Apply to all levels" option */
}
body#generator #editModal div.body form section div.wrapper div textarea {
  width: 90%;
  height: 215px;
  font-size: 1.1em;
  margin: 10px auto 0 auto;
  padding: 5px 7.5px;
  display: block;
  font-family: var(--gothic);
  resize: none;
}
body#generator #editModal div.body form section div.wrapper div textarea ~ label,
body#generator #editModal div.body form section div.wrapper div textarea ~ input[type="checkbox"] {
  margin: 10px 0 0 5px;
  float: left;
}
body#generator #editModal div.body form section div.wrapper div textarea ~ input[type="button"] {
  margin: 5px 5px 0 0;
  float: right;
}

/* Maze Generation Form Container */
body#generator section.formContainer {
  width: 100%;
  height: calc(100vh - var(--navHeight));
  position: absolute;
  transform: translateY(100%);
  background-color: var(--smokeyGray);
  color: #FFFFFF;
  font-family: var(--gothic);
  transition: transform 0.75s;
  display: none;
  overflow-y: auto;
  z-index: 3; /* above mode buttons */
}
/* Maze Generation General Form Styling */
body#generator section.formContainer form {
  width: 800px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
}
body#generator section.formContainer form label {
  font-size: 1.25em;
}
body#generator form input[type="text"],
body#generator form input[type="url"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: var(--gothic);
}
body#generator form input[type="checkbox"] {
  width: 2em;
  height: 2em;
  margin: 5px 0;
  vertical-align: middle;
}
body#generator form select {
  margin: 10px 0 15px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--tnOrange);
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
}
body#generator form select:focus {
  outline: none;
}
body#generator form div.actions input[type="button"],
body#generator form div.actions input[type="submit"] {
  font-size: 1em;
  margin: 0 7.5px 20px 0;
  padding: 7.5px 12.5px;
}
/* Initially, only "Generate" btn is shown */
/* After maze generated once, show "Preview" maze, "Regenerate" maze, or "Save and Exit" btns */
body#generator form div.actions input[type="button"]:not(:nth-of-type(1)),
body#generator form div.actions input[type="submit"] {
  display: none;
}

/* "Choose a Story" Generator Elements */
/* Elements to Hide When Story is Not Selected */
body#generator section#chooseAStoryForm .showWhenSelected {
  display: none;
}
/* Search Bar for Table of Stories */
body#generator section#chooseAStoryForm form input[type="text"].search {
  width: 300px;
  font-size: 0.75em;
  float: left;
  margin: 5px 0;
}
/* Button Executing Search Using Search Bar Contents */
body#generator section#chooseAStoryForm form input[type="text"].search + input[type="button"] {
  float: left;
  font-size: 0.85em;
  margin: 2.5px 0 0 10px;
  padding: 5px 7.5px;
}
/* Table of Pre-existing Stories */
body#generator section#chooseAStoryForm form table {
  width: 100%;
}
body#generator section#chooseAStoryForm form table th,
body#generator section#chooseAStoryForm form table td {
  border-bottom: 2px solid #FFFFFF;
}
body#generator section#chooseAStoryForm form table th {
  padding: 0 0 7.5px 0;
}
body#generator section#chooseAStoryForm form table td {
  padding: 5px 10px;
}
body#generator section#chooseAStoryForm form table td input[type="button"] {
  font-size: 0.85em;
  margin: 0;
  padding: 5px 7.5px;
}
body#generator section#chooseAStoryForm form table td input[type="button"]:nth-of-type(1) {
  margin-bottom: 5px;
}
/* Table Navigation: depending on number of pre-existing stories, there may be several "pages" to a table */
/* Note: nav container is right after the table element */
body#generator section#chooseAStoryForm form table + div {
  width: 100%;
  min-height: 35px;
  margin: 5px 0 20px 0;
  position: relative;
  float: left;
}
/* Previous/Next Buttons */
body#generator section#chooseAStoryForm form table + div input[type="button"] {
  font-size: 1em;
  padding: 5px 10px;
}
body#generator section#chooseAStoryForm form table + div input[type="button"].prev,
body#generator section#chooseAStoryForm form table + div input[type="button"].back {
  float: left;
}
body#generator section#chooseAStoryForm form table + div input[type="button"].next {
  float: right;
}
/* "Page" Number Buttons */
body#generator section#chooseAStoryForm form table + div p {
  pointer-events: none; /* unblocks nav buttons */
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* Unavailable Message */
body#generator section#makeYourOwnForm h2 {
  text-align: center;
}

/*******************
 * PAGE: class.php *
 *******************/
 body#class {
  color: #FFFFFF;
  font-family: var(--gothic);
  overflow-y: auto;
}
body#class h1,
body#class h2,
body#class h3,
body#class p {
  margin: 0;
  padding: 0;
}

/* Header with Class Name and ID */
body#class header h2 {
  margin-right: 5px;
  display: inline-block;
}
/* Copy Student Login Link Button */
body#class header div.tooltip button {
  font-size: 1.65em;
  padding: 0;
  background-color: transparent;
  border: none;
  vertical-align: bottom;
}
body#class header div.tooltip button:hover {
  cursor: pointer;
}
/* Tooltip Text */
body#class header div.tooltip span.tooltipText {
  font-size: 0.65em;
  font-family: var(--gothic);
}

/* Content Containers: Mazes, Students */
body#class div.mazesContainer,
body#class div.studentsContainer {
  margin: 25px auto;
}
/* Headers' Text */
body#class div.mazesContainer h1,
body#class div.studentsContainer h1 {
  font-size: 2.75em;
}
body#class div.mazesContainer h2,
body#class div.studentsContainer h2 {
  font-size: 2em;
}
/* Text Fields */
body#class div.mazesContainer input[type="text"],
body#class div.studentsContainer input[type="text"] {
  padding: 5px;
  font-size: 1.25em;
  font-family: var(--gothic);
  border: none;
  border-radius: 5px;
}

/* Mazes Container: Assign/Unassign Mazes, View Student Progression */
body#class div.mazesContainer {
  width: 1100px;
  height: 400px;
  display: flex;
  justify-content: center; /* for when section#mazeInfo only shown by default */
  border: 2px solid #FFFFFF;
  clip-path: polygon(
    0 40%, 20% 0, 100% 0, 100% 60%, 80% 100%, 0% 100%
  );
}
/* Sections: Story Information, Student Selection, Progress Analytics */
body#class div.mazesContainer section {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Story Information */
body#class div.mazesContainer section#mazeInfo {
  width: 30%;
  padding-right: 2%;
  justify-content: center;
  align-items: center;
}
/* Story Selector */
body#class div.mazesContainer section#mazeInfo select {
  width: 90%;
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 1.25em;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  background-color: var(--tnOrange);
}
/* Story Information Text */
body#class div.mazesContainer section#mazeInfo h2 {
  margin-top: 5px;
}
body#class div.mazesContainer section#mazeInfo p {
  font-size: 1.5em;
  margin: 30px 0;
  display: none; /* default */
}
body#class div.mazesContainer section#mazeInfo p span {
  color: var(--green);
}
/* Assign/Unassign Button */
body#class div.mazesContainer section#mazeInfo button {
  font-size: 1.5em;
  padding: 10px 10px;
  display: none; /* default */
}

/* Student Selection */
body#class div.mazesContainer section#studentSelect {
  width: 36.5%;
  padding-left: 1.5%;
  border-left: 2px solid #FFFFFF;
  display: none; /* default */
}
/* Currently Displayed Student Text */
body#class div.mazesContainer section#studentSelect h1 {
  margin: 10px 30px 0 30px;
  padding: 0 0 5px 0;
  border-bottom: 3px solid #FFFFFF;
}
/* Students Selectors Container */
body#class div.mazesContainer section#studentSelect div {
  flex: 1 1 auto;
  margin: 15px 30px;
  background-color: var(--lighterGray);
  border-radius: 5px;
  overflow-y: auto;
}
/* Students Selectors */
body#class div.mazesContainer section#studentSelect div button {
  width: 100%;
  padding: 15px 0;
  font-size: 2em;
  font-family: var(--gothic);
  background-color: var(--lightGray);
  transition: background-color 0.25s;
  color: #FFFFFF;
  border: none;
}
body#class div.mazesContainer section#studentSelect div button:hover {
  background-color: var(--rock);
  cursor: pointer;
}
body#class div.mazesContainer section#studentSelect div button:not(:last-of-type) {
  border-bottom: 1px solid #FFFFFF;
}
/* Student Search Bar */
body#class div.mazesContainer section#studentSelect input[type="text"] {
  width: 65%;
  margin: 0 auto 10px auto;
}

/* Progress Analytics */
body#class div.mazesContainer section#analytics {
  width: 27.5%;
  padding-right: 2.5%;
  display: none; /* default */
}
body#class div.mazesContainer section#analytics h2 {
  margin: 10px 0;
}
/* Progress Ring Containers */
body#class div.mazesContainer section#analytics div.ringContainer {
  flex: 1 1 auto;
}
body#class div.mazesContainer section#analytics div.ringContainer svg {
  width: 100%;
  height: 100%;
}
/* Progress Ring */
body#class div.mazesContainer section#analytics div.ringContainer svg circle.filler {
  transform: rotate(-90deg); /* starts at top instead of right side */
  transform-origin: 50% 50%;
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  transition: stroke-dashoffset 1s ease-in-out;
}
body#class div.mazesContainer section#analytics div.ringContainer svg text {
  font-size: 3.75em;
  fill: #FFFFFF;
}
/* Levels Completion Indicators Container */
body#class div.mazesContainer section#analytics div.levelsContainer {
  flex: 0 1 auto;
  margin: 5px 0 0 0;
  float: left;
  border-radius: 5px;
  overflow-x: auto;
  white-space: nowrap;
}
/* Levels Completion Indicators */
body#class div.mazesContainer section#analytics div.levelsContainer div.levelIndicator {
  margin: 5px 5px 7.5px 0;
}
body#class div.mazesContainer section#analytics div.levelsContainer div.levelIndicator:first-of-type {
  margin-left: 10px;
}
body#class div.mazesContainer section#analytics div.levelsContainer div.levelIndicator:last-of-type {
  margin-right: 10px;
}

/* Students Container: Add/Edit/Remove Students */
body#class div.studentsContainer {
  width: 1000px;
}
/* Search Bar / Add Button */
body#class div.studentsContainer div input[type="text"] {
  width: 275px;
  margin: 12.5px 0;
}
body#class div.studentsContainer div button {
  font-size: 1.25em;
  margin: 10px 0 0 0;
  padding: 7.5px 10px;
  float: right;
}
/* List of Students w/ Birthday and Edit/Delete Buttons */
body#class div.studentsContainer table {
  width: 100%;
  text-align: left;
}
body#class div.studentsContainer table th,
body#class div.studentsContainer table td {
  padding: 5px 12.5px;
}
body#class div.studentsContainer table th {
  font-size: 2em;
  background-color: var(--lightGray);
}
body#class div.studentsContainer table td {
  font-size: 1.65em;
  background-color: var(--lighterGray);
}
/* Birthday Field: "Set on Login" */
body#class div.studentsContainer table td span {
  font-style: italic;
}
body#class div.studentsContainer table td button {
  font-size: 0.8em;
  margin: 0;
  padding: 7.5px 10px;
}
/* No Students Found Message */
body#class div.studentsContainer table tr.none td {
  padding-top: 12.5px;
  text-align: center;
  background-color: transparent;
}

/* Student Management Modals: Add/Edit/Delete Student */
body#class div.studentModal header {
  padding: 7.5px 0;
}
body#class div.studentModal header h1 {
  margin: 0 10px;
  display: inline;
}
body#class div.studentModal header button {
  margin-top: -5px;
}

/* Add Student(s) Modal */
body#class div#addModal div.body p {
  font-size: 1.25em;
  margin: 15px 0 0 0;
  text-align: center;
}
body#class div#addModal div.body h2 {
  margin: 7.5px 0 0 7.5px;
}
body#class div#addModal div.body h3 {
  margin: 2.5px 0 7.5px 20px;
}
body#class div#addModal div.body h3 span {
  font-weight: 400;
}
/* Students' Names Text Field */
body#class div#addModal div.body textarea {
  width: 95%;
  height: 250px;
  margin: 0 0 0 17.5px;
  font-size: 1.5em;
  font-family: var(--gothic);
}
/* Successfully Parsed Students' Names */
body#class div#addModal div.body div.foundContainer {
  margin: 2.5px 17.5px 12.5px 17.5px;
  font-size: 1.25em;
}
body#class div#addModal div.body div.foundContainer div {
  margin: 2.5px 2.5px;
  padding: 4px 5px;
  display: inline-block;
  background-color: var(--tnOrange);
  border-radius: 2.5px;
}

/* Delete Student Modal */
body#class div#delModal {
  width: 400px;
}
body#class div#delModal div.body p {
  font-size: 1.5em;
  margin: 20px 20px;
  text-align: center;
}
body#class div#delModal div.body p span {
  font-weight: 900;
}

/*********************
 * PAGE: contact.php *
 *********************/

body#contact {
  color: #FFFFFF;
  font-family: var(--gothic);
}
/* Text and Links */
body#contact h1 {
  text-align: center;
}
body#contact h1 a {
  color: var(--tnOrange);
  transition: color 0.5s;
}
body#contact h1 a:hover {
  color: var(--lightOrange);
}

/*****************
 * PAGE: app.php *
 *****************/

/********************************************************************
 * SIMULATION: STORY SELECTOR, LEVELS INDICATORS, CANVAS, RUN/RESET *
 ********************************************************************/
body#app div#simContainer {
  width: var(--canvasSize);
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  float: left;
}

/* Story Selector */
body#app div#simContainer header {
  background-color: var(--smokeyGray);
  text-align: center;
}
body#app div#simContainer header select {
  margin: 10px 0 5px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--tnOrange);
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
}
body#app div#simContainer header select:focus {
  outline: none;
}

/* Levels Indicators */
body#app div#simContainer div#levelsContainer {
  background-color: var(--smokeyGray);
  border-bottom: 7.5px solid var(--tnOrange);
  text-align: center;
}
body#app div#simContainer div#levelsContainer button {
  width: 35px;
  height: 35px;
  margin: 7.5px 5px;
  border: none;
  border-radius: 25px;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFFFFF;
  background-color: var(--tnOrange);
}
body#app div#simContainer div#levelsContainer button.complete {
  background-color: #A5DD24;
}
body#app div#simContainer div#levelsContainer button.active {
  background-color: var(--lightOrange);
}

/* Canvas */
body#app div#simContainer div#canvasWrapper {
  width: var(--canvasSize);
  height: var(--canvasSize);
  position: relative;
}
body#app div#simContainer canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body#app div#simContainer canvas#charCanvas {
  z-index: 2;
}
body#app div#simContainer canvas#storyCanvas {
  z-index: 1;
  background-size: cover;
}

/* Play/Pause Buttons */
body#app div#simContainer div#btns {
  flex-grow: 1;
  border-top: 7.5px solid var(--tnOrange);
  background-color: var(--smokeyGray);
}
body#app div#simContainer div#btns button.orangeBtn {
  margin: 7.5px 5px;
  padding: 5px 10px;
  font-size: 1.25em;
  float: right;
}


/************************************************
 * WORKSPACE: INSTRUCTIONS, TOOLBOX, CODE SPACE *
 ************************************************/
body#app div#wsContainer {
  width: calc(100% - var(--canvasSize));
  height: 100%;
  display: flex;
  flex-flow: column;
}

/* Instructions */
body#app div#wsContainer div#instructions {
  height: 135px;
  padding: 15px;
  background-color: var(--smokeyGray);
  border-bottom: 7.5px solid var(--tnOrange);
  border-left: 7.5px solid var(--tnOrange);
  overflow-y: auto;
}
body#app div#wsContainer div#instructions h1,
body#app div#wsContainer div#instructions h2 {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: var(--gothic);
}
body#app div#wsContainer div#instructions h1 {
  padding-bottom: 10px;
}

/* Tool Box & Code Space */
body#app div#wsContainer div#workspace {
  flex-grow: 1;
}
body#app xml#toolbox {
  display: none;
}

/*************
 * CUTSCENES *
 *************/
/* Init/End Animations */
@keyframes slideIn {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0); }
}
@keyframes slideOut {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

/* Prevent cutscene elements from blocking app content. */
body#app div#cutsceneWrapper {
  pointer-events: none;
}

/* Triggers fade transition-based animation. */
body#app div#cutsceneScreen.show,
body#app img.cutsceneImg.show,
body#app button#cutsceneBtn.show {
  opacity: 1.0;
}

/* Black Transition Background */
body#app div#cutsceneScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.0;
  transition: opacity 1s;
  z-index: 996;
}

/* Cutscene Images and Animations */
body#app img.cutsceneImg {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.0;
  transition: opacity 1s;
  z-index: 997;
}
body#app img.cutsceneImg.slideIn {
  /* Note: Animation will not properly play on page load without transform transition. */
  transition: opacity 0.5s linear 1s, transform 1.25s ease-out 0.5s;
  opacity: 1.0;
  transform: translateX(-100%);
  animation: slideIn 1.25s ease-out 0.5s forwards;
}
body#app img.cutsceneImg.slideOut {
  transition: opacity 0.5s linear 0.25s;
  animation: slideOut 1.25s ease-in forwards;
}

/* Advance Cutscene Button */
body#app button#cutsceneBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--tnOrange);
  border: none;
  border-radius: 5px;
  z-index: 999;
  opacity: 0.0;
  transition: 0.25s background-color, 0.5s opacity;
}
body#app button#cutsceneBtn:hover {
  cursor: pointer;
  background-color: var(--lightOrange);
}
body#app button#cutsceneBtn:focus {
  outline: none;
}
body#app button#cutsceneBtn:disabled {
  cursor: not-allowed;
  background-color: var(--darkOrange);
}
body#app button#cutsceneBtn h1 {
  font-size: 4em;
  margin: 0;
  padding: 0 10px;
  color: #FFFFFF;
}