:root {
  --canvasSize: 675px;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div#story {
  width: var(--canvasSize);
  height: 100%;
  position: relative;
  float: left;
}

div#story canvas {
  width: var(--canvasSize);
  height: var(--canvasSize);
  position: absolute;
  top: 0;
  left: 0;
}
div#story canvas#charCanvas {
  z-index: 2;
}
div#story canvas#storyCanvas {
  z-index: 1;
  background-size: cover;
}

div#story div {
  width: 100%;
  height: calc(100% - var(--canvasSize));
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #BBBBBB;
}

div#workspace {
  width: 100%;
  height: 100%;
}
xml#toolbox {
  display: none;
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0); }
}
@keyframes slideOut {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

div#cutsceneWrapper {
  pointer-events: none;
}

div#cutsceneScreen.show,
img.cutsceneImg.show,
button#cutsceneBtn.show {
  opacity: 1.0;
}

div#cutsceneScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.0;
  transition: opacity 1s;
  z-index: 996;
}

img.cutsceneImg {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.0;
  transition: opacity 1s;
  z-index: 997;
}
img.cutsceneImg.slideIn {
  /* Note: Animation will not properly play on page load without transform transition. */
  transition: opacity 0.5s linear 1s, transform 1.25s ease-out 0.5s;
  opacity: 1.0;
  transform: translateX(-100%);
  animation: slideIn 1.25s ease-out 0.5s forwards;
}
img.cutsceneImg.slideOut {
  transition: opacity 0.5s linear 0.25s;
  animation: slideOut 1.25s ease-in forwards;
}

button#cutsceneBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #FF8200;
  border: none;
  border-radius: 5px;
  z-index: 999;
  opacity: 0.0;
  transition: 0.25s background-color, 0.5s opacity;
}
button#cutsceneBtn:hover {
  cursor: pointer;
  background-color: #F48F22;
}
button#cutsceneBtn:focus {
  outline: none;
}
button#cutsceneBtn:disabled {
  cursor: not-allowed;
  background-color: #C36300;
}
button#cutsceneBtn h1 {
  font-size: 4em;
  margin: 0;
  padding: 0 10px;
  color: #FFFFFF;
}