/***********
 * GLOBALS *
 ***********/
:root {
  --canvasSize: 675px;
  /* Colors */
  --tnOrange: #FF8200;
  --lightOrange: #F2A44F;
  --darkOrange: #C36300;
  --smokeyGray: #58595B;
  --lightGray: #797A7D;
  --lighterGray: #929396;
  --darkGray: #424343;
  --limestone: #F0EDE3;
  --rock: #A7A9AC;
  /* Font */
  --gothic: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* Global Values */
  --navHeight: 65px;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--smokeyGray);
}

/* Navigation Bar */
nav.navbar {
  height: var(--navHeight);
  padding: 0 15px 0 25px;
  background-color: #333333;
  border-bottom: 3px solid #FFFFFF;
  display: flex;
  align-items: center;
}
/* Navigation Bar, Left/Right Groups of Links */
nav.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.navbar ul:nth-of-type(2) {
  margin-left: auto;
}
/* Navigation Bar, Links */
nav.navbar ul:nth-of-type(1) li {
  display: inline-block;
  margin: 0 25px 0 0;
}
nav.navbar ul li a {
  font-size: 2em;
  padding: 10px 5px;
  font-family: var(--gothic);
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.5s;
}
nav.navbar ul li a:hover {
  color: var(--tnOrange);
}
/* Navigation Bar, Dropdowns */
nav.navbar ul div.dropdown {
  width: auto;
  display: inline-block;
}
nav.navbar ul div.dropdown:hover li a {
  color: var(--tnOrange);
  cursor: context-menu;
}
/* Navigation Bar, Content of Dropdowns */
nav.navbar ul div.dropdown div.dropdownContent {
  min-width: 175px;
  margin: 10px 0 0 5px;
  position: absolute;
  background-color: var(--lightGray);
  display: none;
  z-index: 995;
}
nav.navbar ul div.dropdown:hover div.dropdownContent {
  display: block;
}
nav.navbar ul div.dropdown div.dropdownContent a {
  font-size: 1.75em;
  padding: 10px;
  font-family: var(--gothic);
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  transition: background-color 0.5s;
}
nav.navbar ul div.dropdown div.dropdownContent a:hover {
  background-color: var(--lighterGray);
}

/* Orange Button */
.orangeBtn {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: var(--tnOrange);
  transition: background-color 0.5s;
}
.orangeBtn:hover {
  cursor: pointer;
  background-color: var(--lightOrange);
}
.orangeBtn:focus {
  outline: none;
}
.orangeBtn:disabled {
  cursor: not-allowed;
  background-color: var(--darkOrange);
}

/* Tint for Images */
.tint {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.4;
}

/* Modal */
.modal {
  max-height: 95vh;
  position: fixed;
  top: 2vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--smokeyGray);
  border: 2px solid var(--lighterGray);
  border-radius: 5px;
  opacity: 0.0;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  overflow-y: auto;
  z-index: 999;
}
.modal.show {
  opacity: 1.0;
  transform: translateY(0);
  pointer-events: all;
}
.modal header {
  width: 100%;
  background-color: var(--darkGray);
}
.modal header h1 {
  font-size: 2.25em;
  margin: 0;
  padding: 5px 0 10px 10px;
  color: #FFFFFF;
  font-family: var(--gothic);
  display: inline-block;
}
.modal header button {
  font-size: 2.25em;
  margin: 0 5px 0 0;
  color: #FFFFFF;
  transition: color 0.25s;
  background-color: transparent;
  border: none;
  float: right;
}
.modal header button:hover {
  color: var(--rock);
  cursor: pointer;
}
.modalBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.0;
  transition: opacity 0.5s;
  pointer-events: none;
  z-index: 998;
}
.modalBackground.show {
  opacity: 0.75;
  pointer-events: all;
}

/*******************
 * PAGE: login.php *
 *******************/

body#login {
  background-color: var(--smokeyGray);
}
body#login div.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}
body#login div.wrapper h1 {
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 3.5em;
  color: #FFFFFF;
  font-family: var(--gothic);
}
body#login div.wrapper div {
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}
body#login div.wrapper input[type=text] {
  font-size: 2em;
  padding: 10px;
  text-align: center;
  font-family: var(--gothic);
}
body#login div.wrapper input[type=submit] {
  font-size: 1.75em;
  margin: 15px 0 0 0;
  padding: 10px 20px;
}

/***********************
 * PAGE: dashboard.php *
 ***********************/

body#dashboard {
  color: #FFFFFF;
  font-family: var(--gothic);
}

/***********************
 * PAGE: generator.php *
 ***********************/

/* "Choose a story" or "Make your own story" Mode Selection Buttons */
body#generator button.modeBtn {
  width: 50%;
  height: calc(100% - var(--navHeight));
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: width 0.75s ease;
}
body#generator button.modeBtn:hover {
  cursor: pointer;
}
body#generator button.modeBtn:nth-of-type(1) {
  left: 0;
  border-right: 1.5px solid #FFFFFF;
}
body#generator button.modeBtn:nth-of-type(2) {
  right: 0;
  border-left: 1.5px solid #FFFFFF;
}
body#generator button.modeBtn img {
  min-width: 100vw;
  min-height: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.5s;
}
body#generator button.modeBtn:hover img {
  transform: scale(1.1,1.1);
}
body#generator button.modeBtn:nth-of-type(1) img { left: 0; }
body#generator button.modeBtn:nth-of-type(2) img { right: 0; }
body#generator button.modeBtn h1 {
  width: 40vw;
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  font-family: var(--gothic);
  color: #FFFFFF;
}

/* Maze Generation Modals */
body#generator .modal {
  width: 800px;
}
body#generator .modal div.body {
  padding: 10px;
}
body#generator .modal div.body h1,
body#generator .modal div.body h2,
body#generator .modal div.body p {
  color: #FFFFFF;
  font-family: var(--gothic);
  margin: 0;
  padding: 0;
}

/* Maze Generation Preview Story Modal */
body#generator #previewModal div.body section {
  padding: 0 0 10px 0;
  border-bottom: 2px solid #FFFFFF;
}
body#generator #previewModal div.body section:last-of-type {
  border-bottom: none;
}
body#generator #previewModal div.body section h1 {
  padding: 10px 0;
  font-size: 2.5em;
  text-align: center;
}
body#generator #previewModal div.body section div.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
body#generator #previewModal div.body section div.wrapper div {
  text-align: center;
}
body#generator #previewModal div.body section div.wrapper div img {
  width: 80%;
  padding: 10px 0 0 0;
}
body#generator #previewModal div.body section div.wrapper div h2 {
  padding: 0 0 5px 0;
  border-bottom: 2px solid #FFFFFF;
}
body#generator #previewModal div.body section div.wrapper div p {
  font-size: 1.25em;
  padding: 5px 0 0 0;
}

/* Maze Generation Form Container */
body#generator section.formContainer {
  width: 100%;
  height: calc(100vh - var(--navHeight));
  position: absolute;
  transform: translateY(100%);
  background-color: var(--smokeyGray);
  color: #FFFFFF;
  font-family: var(--gothic);
  transition: transform 0.75s;
  display: none;
  overflow-y: auto;
  z-index: 3; /* above mode buttons */
}
/* Container Header Text */
body#generator section.formContainer h1 {
  font-size: 3em;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
}
body#generator section.formContainer h2 {
  font-size: 2.25em;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
}
/* Maze Generation Form */
body#generator section.formContainer form {
  width: 800px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
}
body#generator section.formContainer form label {
  font-size: 1.25em;
}
body#generator section.formContainer form input[type="checkbox"] {
  width: 2em;
  height: 2em;
  margin: 5px 0;
  vertical-align: middle
}
body#generator section.formContainer form select {
  margin: 10px 0 15px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--tnOrange);
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
}
body#generator section.formContainer form select:focus {
  outline: none;
}
body#generator section.formContainer form div.actions input[type="button"],
body#generator section.formContainer form div.actions input[type="submit"] {
  font-size: 1em;
  margin: 0 7.5px 20px 0;
  padding: 7.5px 12.5px;
}
/* Initially, only "Generate" btn is shown */
/* After maze generated once, show "Preview" maze, "Regenerate" maze, or "Save and Exit" btns */
body#generator section.formContainer form div.actions input[type="button"]:not(:nth-of-type(1)),
body#generator section.formContainer form div.actions input[type="submit"] {
  display: none;
}

/* "Choose a story" Generator Elements */
/* Elements to Hide When Story is Not Selected */
body#generator section#chooseAStoryForm .showWhenSelected {
  display: none;
}
/* Search Bar for Table of Stories */
body#generator section#chooseAStoryForm form input[type="text"].search {
  width: 300px;
  font-size: 0.75em;
  float: left;
  margin: 5px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: var(--gothic);
}
/* Button Executing Search Using Search Bar Contents */
body#generator section#chooseAStoryForm form input[type="text"].search + input[type="button"] {
  float: left;
  font-size: 0.85em;
  margin: 2.5px 0 0 10px;
  padding: 5px 7.5px;
}
/* Table of Pre-existing Stories */
body#generator section#chooseAStoryForm form table {
  width: 100%;
}
body#generator section#chooseAStoryForm form table th,
body#generator section#chooseAStoryForm form table td {
  border-bottom: 2px solid #FFFFFF;
}
body#generator section#chooseAStoryForm form table th {
  padding: 0 0 7.5px 0;
}
body#generator section#chooseAStoryForm form table td {
  padding: 5px 10px;
}
body#generator section#chooseAStoryForm form table td input[type="button"] {
  font-size: 0.85em;
  margin: 0;
  padding: 5px 7.5px;
}
body#generator section#chooseAStoryForm form table td input[type="button"]:nth-of-type(1) {
  margin-bottom: 5px;
}
/* Table Navigation: depending on number of pre-existing stories, there may be several "pages" to a table */
/* Note: nav container is right after the table element */
body#generator section#chooseAStoryForm form table + div {
  width: 100%;
  min-height: 35px;
  margin: 5px 0 20px 0;
  position: relative;
  float: left;
}
/* Previous/Next Buttons */
body#generator section#chooseAStoryForm form table + div input[type="button"] {
  font-size: 1em;
  padding: 5px 10px;
}
body#generator section#chooseAStoryForm form table + div input[type="button"].prev,
body#generator section#chooseAStoryForm form table + div input[type="button"].back {
  float: left;
}
body#generator section#chooseAStoryForm form table + div input[type="button"].next {
  float: right;
}
/* "Page" Number Buttons */
body#generator section#chooseAStoryForm form table + div p {
  pointer-events: none; /* unblocks nav buttons */
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
body#generator section#chooseAStoryForm form table + div p a {
  pointer-events: all;
  color: #FFFFFF;
}

/*******************
 * PAGE: class.php *
 *******************/
 body#class {
  color: #FFFFFF;
  font-family: var(--gothic);
}

/*********************
 * PAGE: contact.php *
 *********************/
 body#contact {
  color: #FFFFFF;
  font-family: var(--gothic);
}

/*****************
 * PAGE: app.php *
 *****************/

/********************************************************************
 * SIMULATION: STORY SELECTOR, LEVELS INDICATORS, CANVAS, RUN/RESET *
 ********************************************************************/
body#app div#simContainer {
  width: var(--canvasSize);
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  float: left;
}

/* Story Selector */
body#app div#simContainer header {
  background-color: var(--smokeyGray);
  text-align: center;
}
body#app div#simContainer header select {
  margin: 10px 0 5px 0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--tnOrange);
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
}
body#app div#simContainer header select:focus {
  outline: none;
}

/* Levels Indicators */
body#app div#simContainer div#levelsContainer {
  background-color: var(--smokeyGray);
  border-bottom: 7.5px solid var(--tnOrange);
  text-align: center;
}
body#app div#simContainer div#levelsContainer button {
  width: 35px;
  height: 35px;
  margin: 7.5px 5px;
  border: none;
  border-radius: 25px;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFFFFF;
  background-color: var(--tnOrange);
}
body#app div#simContainer div#levelsContainer button.complete {
  background-color: #A5DD24;
}
body#app div#simContainer div#levelsContainer button.active {
  background-color: var(--lightOrange);
}

/* Canvas */
body#app div#simContainer div#canvasWrapper {
  width: var(--canvasSize);
  height: var(--canvasSize);
  position: relative;
}
body#app div#simContainer canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body#app div#simContainer canvas#charCanvas {
  z-index: 2;
}
body#app div#simContainer canvas#storyCanvas {
  z-index: 1;
  background-size: cover;
}

/* Play/Pause Buttons */
body#app div#simContainer div#btns {
  flex-grow: 1;
  border-top: 7.5px solid var(--tnOrange);
  background-color: var(--smokeyGray);
}
body#app div#simContainer div#btns button.orangeBtn {
  margin: 7.5px 5px;
  padding: 5px 10px;
  font-size: 1.25em;
  float: right;
}


/************************************************
 * WORKSPACE: INSTRUCTIONS, TOOLBOX, CODE SPACE *
 ************************************************/
body#app div#wsContainer {
  width: calc(100% - var(--canvasSize));
  height: 100%;
  display: flex;
  flex-flow: column;
}

/* Instructions */
body#app div#wsContainer div#instructions {
  height: 135px;
  padding: 15px;
  background-color: var(--smokeyGray);
  border-bottom: 7.5px solid var(--tnOrange);
  border-left: 7.5px solid var(--tnOrange);
  overflow-y: auto;
}
body#app div#wsContainer div#instructions h1,
body#app div#wsContainer div#instructions h2 {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: var(--gothic);
}
body#app div#wsContainer div#instructions h1 {
  padding-bottom: 10px;
}

/* Tool Box & Code Space */
body#app div#wsContainer div#workspace {
  flex-grow: 1;
}
body#app xml#toolbox {
  display: none;
}

/*************
 * CUTSCENES *
 *************/
/* Init/End Animations */
@keyframes slideIn {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0); }
}
@keyframes slideOut {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

/* Prevent cutscene elements from blocking app content. */
body#app div#cutsceneWrapper {
  pointer-events: none;
}

/* Triggers fade transition-based animation. */
body#app div#cutsceneScreen.show,
body#app img.cutsceneImg.show,
body#app button#cutsceneBtn.show {
  opacity: 1.0;
}

/* Black Transition Background */
body#app div#cutsceneScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.0;
  transition: opacity 1s;
  z-index: 996;
}

/* Cutscene Images and Animations */
body#app img.cutsceneImg {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.0;
  transition: opacity 1s;
  z-index: 997;
}
body#app img.cutsceneImg.slideIn {
  /* Note: Animation will not properly play on page load without transform transition. */
  transition: opacity 0.5s linear 1s, transform 1.25s ease-out 0.5s;
  opacity: 1.0;
  transform: translateX(-100%);
  animation: slideIn 1.25s ease-out 0.5s forwards;
}
body#app img.cutsceneImg.slideOut {
  transition: opacity 0.5s linear 0.25s;
  animation: slideOut 1.25s ease-in forwards;
}

/* Advance Cutscene Button */
body#app button#cutsceneBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--tnOrange);
  border: none;
  border-radius: 5px;
  z-index: 999;
  opacity: 0.0;
  transition: 0.25s background-color, 0.5s opacity;
}
body#app button#cutsceneBtn:hover {
  cursor: pointer;
  background-color: var(--lightOrange);
}
body#app button#cutsceneBtn:focus {
  outline: none;
}
body#app button#cutsceneBtn:disabled {
  cursor: not-allowed;
  background-color: var(--darkOrange);
}
body#app button#cutsceneBtn h1 {
  font-size: 4em;
  margin: 0;
  padding: 0 10px;
  color: #FFFFFF;
}